# Python Insights - Analisando Dados com Python

### Case - Cancelamento de Clientes

Você foi contratado por uma empresa com mais de 800 mil clientes para um projeto de Dados. Recentemente a empresa percebeu que da sua base total de clientes, a maioria são clientes inativos, ou seja, que já cancelaram o serviço.

Precisando melhorar seus resultados ela quer conseguir entender os principais motivos desses cancelamentos e quais as ações mais eficientes para reduzir esse número.

Base de dados e arquivos: https://drive.google.com/drive/folders/1uDesZePdkhiraJmiyeZ-w5tfc8XsNYFZ?usp=drive_link

In [6]:
import pandas as pd

tabela = pd.read_csv('cancelamentos_sample.csv')#importa o arquivo
tabela = tabela.drop(columns='CustomerID')#exclui coluna

display(tabela)#visualiza a base de dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              50000 non-null  float64
 1   idade                   50000 non-null  float64
 2   sexo                    49997 non-null  object
 3   tempo_como_cliente      49998 non-null  float64
 4   frequencia_uso          50000 non-null  float64
 5   ligacoes_callcenter     50000 non-null  float64
 6   dias_atraso             50000 non-null  float64
 7   assinatura              50000 non-null  object
 8   duracao_contrato        50000 non-null  object
 9   total_gasto             50000 non-null  float64
 10  meses_ultima_interacao  50000 non-null  float64
 11  cancelou                50000 non-null  float64
dtypes: float64(9), object(3)
memory usage: 4.6+ MB

None

In [8]:
tabela = tabela.dropna()#exclui todos campos vazios
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Index: 49996 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              49996 non-null  float64
 1   idade                   49996 non-null  float64
 2   sexo                    49996 non-null  object
 3   tempo_como_cliente      49996 non-null  float64
 4   frequencia_uso          49996 non-null  float64
 5   ligacoes_callcenter     49996 non-null  float64
 6   dias_atraso             49996 non-null  float64
 7   assinatura              49996 non-null  object
 8   duracao_contrato        49996 non-null  object
 9   total_gasto             49996 non-null  float64
 10  meses_ultima_interacao  49996 non-null  float64
 11  cancelou                49996 non-null  float64
dtypes: float64(9), object(3)
memory usage: 5.0+ MB

None

In [19]:
display(tabela['cancelou'].value_counts())
display(tabela['cancelou'].value_counts(normalize=True))#.map('{:.1%}'.format))

cancelou
1.0    0.567905
0.0    0.432095
Name: proportion, dtype: float64

In [ ]:
display(tabela['cancelou'].value_counts())
display(tabela['cancelou'].value_counts(normalize=True))#.map('{:.1%}'.format))

In [20]:
display(tabela['duracao_contrato'].value_counts())
display(tabela['duracao_contrato'].value_counts(normalize=True))#.map('{:.1%}'.format))

duracao_contrato
Annual       20156
Quarterly    19956
Monthly       9884
Name: count, dtype: int64

duracao_contrato
Annual       0.403152
Quarterly    0.399152
Monthly      0.197696
Name: proportion, dtype: float64

In [23]:
agrupamento = tabela.groupby('duracao_contrato').mean(numeric_only=True)
display(agrupamento)

,CustomerID,idade,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,total_gasto,meses_ultima_interacao,cancelou
duracao_contrato,,,,,,,,,
Annual,248594.055418,38.783985,31.416452,15.910449,3.277585,12.533985,650.925840,14.231544,0.464080
Monthly,132400.770437,41.428470,30.677964,15.577600,4.923917,15.078814,547.508921,15.392655,1.000000
Quarterly,249900.662658,38.833935,31.522099,15.842504,3.256113,12.480006,654.102443,14.364602,0.458759

In [27]:
tabela = tabela[tabela['duracao_contrato']!= 'Monthly']
display(tabela['cancelou'].value_counts())
display(tabela['cancelou'].value_counts(normalize=True))#.map('{:.1%}'.format))

cancelou
0.0    21603
1.0    18509
Name: count, dtype: int64

cancelou
0.0    0.538567
1.0    0.461433
Name: proportion, dtype: float64

In [48]:
import plotly.express as px

grafico = px.histogram(tabela, x="idade")
grafico.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed